[submodule "submodules/CMTAT-equivalency-assessment"]
	path = submodules/CMTAT-equivalency-assessment
	url = https://github.com/CMTA/CMTAT-equivalency-assessment
[submodule "submodules/CMTAT-Confidential"]
	path = submodules/CMTAT-Confidential
	url = https://github.com/CMTA/CMTAT-Confidential
